# Ignore everything in root
/*

# Except these files and folders
!/.gitignore
!/index.html
!/app.js
!/data.json
!/lock.json
!/Masterslide_Camt_052_Version 15.1_20231220_NL2023.4.WL_TESTSMallTest.xlsm
!/.github/
